<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="#">Hoy</a></li>
                    <li><a href="#">Próximos 7 días</a></li>
                    <li><a href="#">Etiquetas</a></li>
                    <li><a href="#">Filtro</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header class="main-header">
                <div class="header-title">
                    <h1>Hoy</h1>
                </div>
                <div class="header-actions">
                    <button type="button" class="btn btn-outline-dark" (click)="mostrarFormulario()">+ Añadir Tarea</button>
                </div>
            </header>
            <section class="tasks">
                <div class="task" *ngFor="let tarea of tareas">
                    <div class="task-header">
                        <input type="checkbox" [checked]="tarea.completeda">
                        <label>{{ tarea.titulo }}</label>
                    </div>
                    <div class="task-footer">
                       <!--<label>Completada</label>
                        <input type="checkbox" >-->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="close"  aria-label="Close" (click)="eliminarTarea(tarea.tareaId)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>Firebase ID</label>
                        <br>
                        <input type="text" 
                        class="form-control" 
                        placeholder="Firebase ID" 
                        disabled="disabled" 
                        [(ngModel)]="tarea.tareaId"
                        name="id">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </section>
            <br>
            <br>
        <section>
            <!-- Formulario para agregar tarea -->
            <div class="add-task-container animated fadeIn" *ngIf="mostrarForm">
                <div class="card">
                    <div class="card-header">
                        <h4>Nueva Tarea</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="guardarDatos(f)" #f="ngForm">
                            <div class="form-group">
                                <label for="titulo">Título</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="titulo" 
                                       placeholder="Título de la tarea"
                                       [(ngModel)]="tarea.titulo" name="titulo">
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <textarea class="form-control" 
                                          id="descripcion" 
                                          rows="3" 
                                          placeholder="Descripción de la tarea"
                                          [(ngModel)]="tarea.descripcion" 
                                          name="descripcion" 
                                          required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="vencimiento">Fecha de Vencimiento</label>
                                <div class="input-group">
                                    <input type="text" 
                                           class="form-control" 
                                           id="vencimiento" 
                                           placeholder="Selecciona una fecha"
                                           [(ngModel)]="tarea.vencimiento" 
                                           name="vencimiento" 
                                           readonly>
                                    <div class="input-group-append">
                                        <button (click)="mostrarCalendario()" 
                                                type="button"
                                                class="btn btn-outline-dark">Vencimiento</button>
                                    </div>
                                </div>
                                <div *ngIf="mostrarCalendar" class="calendar-container mt-2">
                                    <app-calendar (fechaSeleccionada)="recibirFechaSeleccionada($event)"></app-calendar>
                                </div>
                            </div>
                            <br>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger ml-2"
                                    (click)="ocultarFormulario()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        </main>
    </div>
</body>

</html>