* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.sidebar-header img {
    width: 150px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 20px;
}

.sidebar-nav ul li {
    margin: 15px 0;
}

.sidebar-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar-nav ul li a:hover {
    background-color: #1a1a1a;
}

.sidebar-footer {
    padding: 20px;
    text-align: center;
}

.sidebar-footer .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-title h1 {
    font-size: 24px;
}



.tasks .task {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.tasks .task label {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .sidebar-header img {
        width: 100px;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-title h1 {
        margin-bottom: 10px;
    }

}