<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a [routerLink]="['home']" class="navbar-brand logo">
            <img src="https://icons.iconarchive.com/icons/mattahan/buuf/128/Task-List-icon.png" alt="Logo" height="70" width="70">
            <span style="font-family: chivo;font-size:x-large;">TaskMaster</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" style="font-weight: bold;">Inicio</a>
                </li>-->
                <li *ngIf="auth.estaAutenticado()" class="nav-item">
                    <a class="nav-link" [routerLink]="['dashboard']" style="font-weight: bold;">Mis tareas</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a *ngIf="!auth.estaAutenticado()" class="btn btn-outline-primary mr-2" [routerLink]="['login']">Iniciar sesión</a>
                <a *ngIf="!auth.estaAutenticado()" class="btn btn-danger" [routerLink]="['registro']">Registrarse</a>
                <a *ngIf="auth.estaAutenticado()"  class="btn btn-danger" (click)="auth.logout()" style="color:white;cursor: pointer;">Salir</a>
            </div>
        </div>
    </nav>
</header>